.footer-bottom {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

h3 {
    text-transform: uppercase;
    color: white;
    margin: 10px 0;
}

a {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.links-footer {
    display: flex;
    gap: 20px;
}